.all{
    height: 750px;
    width: 500px;
    margin-left: 400px;
}

.logo {
    height: 100px;
}

.logo img {
    width: 100px;
    height: 50px;
    padding: 40px 0px 0px 40px;
}

.title{
    height: 120px;
    padding: 0px 0px 10px 50px;
    font-size: 40px;
}
.title, .introduction, .content, .information, .listeners, .data {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.introduction{
    height: 100px;
    width: 400px;
    padding: 0px 0px 20px 50px;
    font-size: 23px;
}

.all_information{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    padding-left: 50px;
}

.content{
    width: 350px;
}

li{
    margin-top: 2px;
    margin-left: -28px;
}

.part_all_information{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 10px;
    margin-right: 20px;
    
}

#without_marker{
    list-style-type: none;
    margin-left: -44px;
}

.listeners{
    padding-top: 10px;
    padding-bottom: 20px;
}

.data{
    height: 50px;
    font-size: 10px;
    padding-left: 50px;
    padding-bottom: 20px;
}
.figure img{
    margin-left: 20px;
    width: 480px;
    height: 166px;
}